In [1]:
#Name: Vinayak Gaikwad
#Student ID: 300137895
#COMP 381 - Summer 2018
#Term Project.

In [3]:
#I will be using a Communities and Crime Dataset taken from the UCI machine learning Repository.
#Link: https://archive.ics.uci.edu/ml/datasets/Communities+and+Crime
#The dataset contains data collected from within United States. The data is a combination of data collected from 
#various data sources like US census, US LEMAS survey and the crime data from FBI UCR.

#I mainly plan to use regression algorithms like linear and logitic regression, polynomial regression and lasso. 
#I am considering KNN classification too.

In [1]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_regression


%matplotlib inline
plt.style.use('seaborn-white')

In [2]:
df = pd.read_csv('C:/Users/Vinay/PycharmProjects/Project/communities.csv')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>state</th>
      <th>communityname</th>
      <th>fold</th>
      <th>population</th>
      <th>householdsize</th>
      <th>racepctblack</th>
      <th>racePctWhite</th>
      <th>racePctAsian</th>
      <th>racePctHisp</th>
      <th>agePct12t21</th>
      <th>...</th>
      <th>perCapInc</th>
      <th>whitePerCap</th>
      <th>blackPerCap</th>
      <th>indianPerCap</th>
      <th>AsianPerCap</th>
      <th>OtherPerCap</th>
      <th>HispPerCap</th>
      <th>NumUnderPov</th>
      <th>PctPopUnderPov</th>
      <th>ViolentCrimesPerPop</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>Lakewoodcity</td>
      <td>1</td>
      <td>0.19</td>
      <td>0.33</td>
      <td>0.02</td>
      <td>0.90</td>
      <td>0.12</td>
      <td>0.17</td>
      <td>0.34</td>
      <td>...</td>
      <td>0.40</td>
      <td>0.39</td>
      <td>0.32</td>
      <td>0.27</td>
      <td>0.27</td>
      <td>0.36</td>
      <td>0.41</td>
      <td>0.08</td>
      <td>0.19</td>
      <td>0.20</td>
    </tr>
    <tr>
      <th>1</th>
      <td>53</td>
      <td>Tukwilacity</td>
      <td>1</td>
      <td>0.00</td>
      <td>0.16</td>
      <td>0.12</td>
      <td>0.74</td>
      <td>0.45</td>
      <td>0.07</td>
      <td>0.26</td>
      <td>...</td>
      <td>0.37</td>
      <td>0.38</td>
      <td>0.33</td>
      <td>0.16</td>
      <td>0.30</td>
      <td>0.22</td>
      <td>0.35</td>
      <td>0.01</td>
      <td>0.24</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>2</th>
      <td>24</td>
      <td>Aberdeentown</td>
      <td>1</td>
      <td>0.00</td>
      <td>0.42</td>
      <td>0.49</td>
      <td>0.56</td>
      <td>0.17</td>
      <td>0.04</td>
      <td>0.39</td>
      <td>...</td>
      <td>0.27</td>
      <td>0.29</td>
      <td>0.27</td>
      <td>0.07</td>
      <td>0.29</td>
      <td>0.28</td>
      <td>0.39</td>
      <td>0.01</td>
      <td>0.27</td>
      <td>0.43</td>
    </tr>
    <tr>
      <th>3</th>
      <td>34</td>
      <td>Willingborotownship</td>
      <td>1</td>
      <td>0.04</td>
      <td>0.77</td>
      <td>1.00</td>
      <td>0.08</td>
      <td>0.12</td>
      <td>0.10</td>
      <td>0.51</td>
      <td>...</td>
      <td>0.36</td>
      <td>0.40</td>
      <td>0.39</td>
      <td>0.16</td>
      <td>0.25</td>
      <td>0.36</td>
      <td>0.44</td>
      <td>0.01</td>
      <td>0.10</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>42</td>
      <td>Bethlehemtownship</td>
      <td>1</td>
      <td>0.01</td>
      <td>0.55</td>
      <td>0.02</td>
      <td>0.95</td>
      <td>0.09</td>
      <td>0.05</td>
      <td>0.38</td>
      <td>...</td>
      <td>0.43</td>
      <td>0.41</td>
      <td>0.28</td>
      <td>0.00</td>
      <td>0.74</td>
      <td>0.51</td>
      <td>0.48</td>
      <td>0.00</td>
      <td>0.06</td>
      <td>0.03</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 27 columns</p>
</div>

In [3]:
X = df.drop(['state','communityname','ViolentCrimesPerPop'],axis = 1)
print(df.dtypes)
X.head()
Xtrain = X[0:1000]
y = df['ViolentCrimesPerPop']
ytrain= y[0:1000]

state                    int64
communityname           object
fold                     int64
population             float64
householdsize          float64
racepctblack           float64
racePctWhite           float64
racePctAsian           float64
racePctHisp            float64
agePct12t21            float64
agePct12t29            float64
agePct16t24            float64
agePct65up             float64
numbUrban              float64
pctUrban               float64
medIncome              float64
pctWWage               float64
perCapInc              float64
whitePerCap            float64
blackPerCap            float64
indianPerCap           float64
AsianPerCap            float64
OtherPerCap            float64
HispPerCap             float64
NumUnderPov            float64
PctPopUnderPov         float64
ViolentCrimesPerPop    float64
dtype: object

In [4]:
#plt.scatter(Xt, yt,color='g')
#print(len(Xt))

#plt.xlim(0,0.16)
#plt.ylim(0,1)
#plt.show()

In [5]:
perc = 50 # percentage of features to keep 

selector = SelectPercentile(f_regression, percentile=perc)
selector.fit_transform(Xtrain, ytrain)
selected_cols = selector.get_support()
selected_feas = Xtrain.columns.values[selected_cols]
print("These are the feas that were selected:\n")
print(selected_feas)

These are the feas that were selected:

['population' 'racepctblack' 'racePctWhite' 'racePctHisp' 'numbUrban'
 'medIncome' 'pctWWage' 'perCapInc' 'blackPerCap' 'HispPerCap'
 'NumUnderPov' 'PctPopUnderPov']